* {
  margin: 0;
  padding: 0;

}

body {
  background: rgb(229, 229, 229);
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

hr {
  margin: 0 auto;
  max-width: 900px;
}

.top-bar {
  justify-content: space-between;
  background-color: #0f0f0f;
  border-bottom: 5px solid rgb(0, 88, 230);
  display: flex;
  position: relative;
}

.logo-top-bar img {
  height: 50px;
  position: absolute;
  left: 20px;
  top: 15px
}

.barraDeBusca {
  margin: auto;
  padding: 20px;
}

#barraDeBusca {
  padding: 10px;
  width: 20em;
  font-size: 16px;
}

#listaDeItens li {
  margin: 5px 0;
  font-size: 18px;
}

.bloco-carro {
  max-width: 980px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  text-align: justify;
  padding-left: 20px;
  border-radius: 20px;
  box-shadow: hidden;
}

.info-carro h1 {
  padding-bottom: 15px;
  margin-top: 0px;
}

.bloco-carro:hover {
  transform: scale(1.01);
  /* aumenta 5% */

}

.bloco-carro {
  transition: transform 0.6s ease;
}

.box-shadow:hover {
  box-shadow: 5px 5px 15px 12px rgb(133, 133, 133);
}

h1 {
  font-family: "Open Sans", sans-serif;
}

.info-carro p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.imagem-carro img {
  width: 380px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  display: block;
}

.bloco-carro+.bloco-carro {
  margin-top: -3%;
}

a {
  text-decoration: none;
  /* remove sublinhado */
  color: inherit;
  /* herda a cor do h2 */
  font-family: inherit;
  /* herda a fonte do h2 */
  font-weight: inherit;
  /* mantém o estilo do título */
}

.imagem-carro img:hover {
  transform: scale(1.10);
  /* aumenta 5% */

}

.imagem-carro img {
  transition: transform 0.3s ease;
}

.galeria-fotos {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.galeria-fotos img {
  width: 300px;
  margin: 10px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.galeria-fotos img:hover {
  transform: scale(1.05);
}

.centralizar-texto {
  max-width: 500px;
  margin: auto;
  padding: 20px 40px;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 50px;
}

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.lightbox-img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}

.lightbox .fechar {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

.footer {
  background-color: #0f0f0f;
  font-size: 12px;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 50px 0 10px;
  font-family: monospace;
}

.h1-c200-smartphone {
    margin-top: 50px;
    text-align: center;
  }

@media screen and (max-width: 600px) {

  .bloco-carro {
    max-width: 380px;
    margin-top: 20px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding-left: 0;
    border-radius: 20px;
    transition: none;
    gap: 0;
  }

  .info-carro h1 {
    padding-bottom: 15px;
    margin-top: 0px;
  }

  hr {
    max-width: 380px;
  }

  .imagem-carro img {
    width: 380px;
    border-radius: 8px;
    object-fit: cover;
    display: block;
  }

  .box-shadow:hover {
    box-shadow: none;
  }

  .barraDeBusca {
    margin: auto;
    padding: 20px;
  }

  #barraDeBusca {
    padding: 10px;
    width: 15em;
    font-size: 16px;
  }

  .logo-top-bar img {
    height: 50px;
    position: static;
    margin-left: 15px;
    margin-top: 13px;
  }

  .galeria-fotos {
    max-width: 380px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
  }

  .galeria-fotos img {
    width: 380px;
    margin: 5px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: none;
    transition: none;
  }

  .galeria-fotos img:hover {
    transform: none;
  }

  .h1-c200-smartphone {
    margin-top: 15px;
  }

}

@media screen and (max-width: 390px) {

  #barraDeBusca {
    width: 13em;
  }

  .bloco-carro {
    max-width: 360px;
    margin-top: 20px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding-left: 0;
    border-radius: 20px;
    transition: none;
    gap: 0;
  }

}